@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
.navbar-brand{
    font-family: 'Satisfy', cursive !important;
    font-size: 30px !important;
}
.fa{
    font-size: 30px;
    margin-top: -100px;
    margin-right: 10px;
}
.badge{
    margin-left: -10px;
}

.input-group{
    width:50% !important;
    vertical-align: center;
}

.dropdown-menu {
    /* float: right !important; */
    right: 0;
    left: auto;
}

@media (max-width:600px){
    .navbar-brand{
        font-size:20px !important;
    }
    .justify-content-center{
        justify-content:left !important;
    }
    form input{
        margin-right:2px;
    }
    .col-sm-6{
        width:150px !important
    }
    .form-inline .btn{
        font-size:15px !important;
        margin:0px !important;
        padding:5px !important;
    }
    .form-inline .form-control{
        padding:5px !important;
    }
    .navbar-toggler{
        padding:2px !important
    }
    
}
.badge {
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 9px;
    box-sizing: border-box;
  }

  #lblCartCount {
      font-size: 12px;
      background: #ff0000;
      color: #fff;
      padding: 0 5px;
      vertical-align: top; 
  }