.quantity .input-group{
    width: 105px !important;
}
.cart-col1-Card .card .card-text {
    line-height: 1em !important;
    font-size:14px !important ;
}
.card-img{
    width:150px !important;
}

.cart-col1-Card .input-group .form-control{
    width:18px !important;
    padding:3px !important;
    text-align: center !important;
    box-sizing: border-box;
}

@media (max-width:994px){
    .card{
        width:100% !important;
    }
}
@media (max-width:770px){
    .card{
        width:100% !important;
    }
    .card{
        flex-flow: column !important;
    }
    .card img{
        width:100% !important;
    }
}
@media (max-width:400px){
    .container-fluid{
        padding:0px !important;
    }
    .container{
        padding:8px 15px !important;
    }
}
