
th,td{
    vertical-align: middle !important;
    
}
th{
    font-family: 'Roboto Slab', serif;
    font-size: 18px !important;
    font-weight: 800;
}
td{
    
    font-family: serif;
    font-size: 18px !important;
    font-weight: 500;
}
.row-header .list-group-item{
    background:  #e7e9ec !important;
    border:none !important;
    margin:5px 25px !important;
    font-size: 12px !important;
}
.para-style,.bookDetails p{
    font-family: Arial,sans-serif;
    font-size: 14px;
    margin:0px;
}
.font-custom-style{
    font-family:Arial, Helvetica, sans-serif;
}
.price-color{
    color:#B12704;
}
.author-color,.userName-color{
    color:#0066C0;
    font-size:14px;
}
.bookDetails h5{
    font-family: Arial,sans-serif;
    font-size: 16px;
    font-weight: bolder;
}
.row-header{
    background:  #e7e9ec;
}
.btn-color{
    background: #e7e9ec;
    border-radius: 3px;
    border-color: #ADB1B8 #A2A6AC #8D9096;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    text-align: center;
    text-decoration: none!important;
    vertical-align: middle;
    margin:10px;
    width:200px;
}
